<!--New Button -->
<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<!--End of button-->

<!--Search products by name -->
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search..">
</p>
<!--End of Search-->

<!--Product DataTable-->
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let prod of filteredProducts">
      <td>{{prod.title}}</td>
      <td>{{prod.price}}</td>
      <td>
        <a [routerLink]="['/admin/products/', prod.$key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
<!--End of Table-->